@model List<SwasiHealthCare.Model.NotesModel>
   @{
       var userid = ViewBag.userid;
}
<a href="javascript:void(0);" class="right_note"><i class="fa fa-close"></i></a>
<div class="form-group c_form_group">
    <label>Write your note here</label>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter here..." id="txtnotes" maxlength="255">
        <div class="input-group-append"><button class="btn btn-dark btn-sm" type="button" id="btnnotesadd">Add</button></div>
    </div>
</div>
 <div class="note-body" id="cardnotesbody">
    @foreach (var item in Model)
    {
        <div class="card note-item">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-10 text-muted">@item.NotesCreatedDate - <a style="color:#379d5b;font-weight: bolder;">@item.NotesCreatedByName</a></span>
                </div>
                @if (userid == item.NotesCreatedBy)
                {
                <div>
                    @*<a href="javascript:void(0);" class="star"><i class="fa fa-star-o"></i></a>*@
                    <a href="javascript:void(0);" onclick="DeleteNotes(@item.NotesId)" class="delete"><i class="fa fa-trash"></i></a>
                </div>
                }
            </div>
            <div class="note-detail">
                <span>@item.Description</span>
            </div>
        </div>
    }
</div>
    @section scripts {

        <script type="text/javascript">
            $(document).ready(function () {

            });
        </script>
    }